<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href="/">
                    <img src="/workspace/webapp_with_mysql/src/main/resources/images/healthcare-nursing-generic-logo.png" alt="Healthcare" style="width:42px;height:42px;">
                  </a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href="/new_patient">New Patient</a></li>
                    <li><a href="/search_patient_form">Search Patient</a></li>
                    <li><a href="/view_all_patient">View Patient</a></li>
                    <li><a href="/new_doctor">New Doctor</a></li>
                    <li><a href="/search_doctor_form">Search Doctor</a></li>
                    <li><a href="/view_all_doctor">View Doctor</a></li>
                </ul>
            </nav>

        </div>
    </div>
    <!-- <h1>Patient details</h1>
    <a href ="/new_patient">Create new patient</a>
    <br/>
    <a href ="/search_patient_form"> Search a patient</a>
    <br/>
    <a href ="/view_all_patient"> View all patients</a>
    <hr>
     <h1>Doctor details</h1>
    <a href ="/new_doctor"> Create new doctor</a>
    <br/>
    <a href ="/search_doctor_form"> Search a doctor</a>
    <br/>
    <a href ="/view_all_doctor"> View all doctors</a> -->
</body>

</html>