<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Search Patient</title>
    </head>
    <body style=" margin: 0;padding: 0;box-sizing: border-box;">
        <div style="height: 100%;width: 100%;background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/images/https___specials-images.forbesimg.com_imageserve_5dbb4182d85e3000078fddae_0x0.jpg');background-position: center;
        background-size: cover;position: absolute;">
        <div style="display:flex;align-items: left;padding: 0px;padding-left: 50px;padding-right: 0px;padding-top: 10px;">
        
                    <a href="/" style="text-decoration: none;
                    color: aqua;
                    font-size: 30px;">Healthcare<br> WebApp</a>
                
        </div>
        <div id="search-patient">
                <div style="width:600px;height:300px;position:relative;margin:2% auto;background:rgba(0,0,0,0.2);padding:10px;overflow: hidden;">
                        <div style="width:400px;margin:35px auto;position:relative;box-shadow:0 0 20px 9px #ff61241f;border-radius:30px;">
                                <div id='btn' style="top:0;left:0;position:absolute;width: 400px;height: 100%;background: #6dfafa;border-radius: 30px;"></div>
                                <div
                                type="text"style="padding:10px 30px;cursor:pointer;background:transparent;border:0;outline:none;position:relative;font-family:Sans-serif;text-align: center;" >Search using first name</div>
                        </div>
                        <form id='login'action="search_patient" method="get"style="top:100px;position:absolute;width: 600px;">
                                <input type="text" name="firstName"placeholder='First Name' required
                                style="width: 100%;padding:10px 0;margin:14px 0;border-left:0;border-top:0;border-right:0;border-bottom:2px solid white;outline:none;background:transparent;color: white;background-image: url('/images/search.png');background-repeat: no-repeat;
                                background-position: right center;background-size: 8%;">
                                <button type ="submit" style="width: 85%;padding:10px 30px;cursor: pointer;
                                display: block;margin: auto;background: #F3C693;border: 0;outline: none;border-radius: 30px;">Submit</button>
                                
                </div>
        </div>
        </div>
        </body>

</html>