<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
        <head>
                <meta charset="UTF-8">
                <title>Home Page</title>
                <link rel="stylesheet" type="text/css" href="/css/style.css">
        </head>
        <body>
              <div class="full-page">
                      <div class=navbar1>
                              <a href="/">Healthcare<br> WebApp</a>
                      </div>
                      <div id="search-d-result"class="search-d-result-page">
                              <div class="display-box">
                                      <div class="button-box">
                                              <div id='btn'></div>
                                              <div type="text" class="txt" th:text= "${firstName} +' ' + ${lastName} + 's Profile'"></div>
                                      </div>
                                      <div class="images"><img th:src="@{${PhotosImagePath}}"class="pic"></div>
                                      <nav3>
                                        <ul id='DisplayItems'>
                                            <li th:text="'First Name: ' + ${firstName}"></li>
                                            <li th:text="'Last Name: ' + ${lastName}"></li>
                                            <li th:text="'Age: ' + ${age}"></li>
                                            <li th:text="'Gender: ' + ${gender}"></li>
                                            <li th:text="'City: ' + ${city}"></li>
                                            <li th:text="'Pin Code: ' + ${pincode}"></li>
                                        </ul>
                                      </nav3>
                                      <div type="text" class="txt1" ><a th:href="@{'/view_docs/'+ ${id}}">Documents</a></div>
                              </div>
                      </div>
              </div>
          </body>
</html>

<!-- <html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Patient Details</title>
  </head>
    <body>
      <h1 th:text= "${firstName} +' ' + ${lastName} + 's Profile'" ></h1>
      <img th:src="@{${PhotosImagePath}}" />
        <h3 th:text="'First Name: ' + ${firstName}"></h3>
        <h3 th:text="'Last Name: ' + ${lastName}"></h3>
        <h3 th:text="'Age: ' + ${age}"></h3>
        <h3 th:text="'Gender: ' + ${gender}"></h3>
        <h3 th:text="'City: ' + ${city}"></h3>
        <h3 th:text="'Pin Code: ' + ${pincode}"></h3>
        <a th:href="@{'/view_docs/'+ ${id}}"><h3>Documents</h3></a>
           <a href ="/"> click here to go home page</a>
    </body>
    
    </html> -->